body {
    
    /* background-image: url("../IMAGES/background.jpg");    
    background-repeat: no-repeat;

position: absolute;*/
}
.ui-trav-day{
    background-image: url("../IMAGES/index.jpg"); 
    background-repeat: no-repeat; 
    height:300px;
    width:495px;
}

.pageHeader {
    background-color:#0066CC;
    color:white;
    text-align:center;
    padding:5px;
    height:75px;
    margin: 40px 0 20px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:300px;
    float:left;
    padding:5px;        
}
#nav2 {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
    

}
#section {
    width:450px;
    float:left;
    padding:10px;  
    background-color:lightblue;  
    height:289px;
    width:  1152px;
}
.ui-footer {
    background-color:#0066CC;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;   
   margin: 40px 0 20px; 
   height:50px;
}
#travPic_placeholder{
    background-image: url("../IMAGES/index.jpg"); 
    background-repeat: no-repeat; 
    height:300px;
    width:300px;
}
.position-button{
    top: 189px;
    right: -944px;
}
#bucketList{
	background-image: url("../IMAGES/index.jpg");    
    background-repeat: no-repeat;
    top:327px;
    width: 232px;
    height: 237px;
    position: absolute;
    right:591px;
    transform:scale(2.5);

}
.bucketContent{
	padding: 37px;
    padding-top: 92px;
}
  a {
        text-decoration: none;
        color: black;
    }
a:hover { 
text-decoration: underline;
}

/**/

.fb_iframe_widget iframe {
    opacity: 0;
}

.fb_iframe_widget {
  background-image: url("../IMAGES/login_button.jpg");
  background-repeat: no-repeat; 
}
/**/