I AM INSIDE ACTIVITY HTML
 <html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="content-type" content="text/html">
        <meta charset="utf-8">
        <title>BucketList - Whats on your list</title>
        
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/activity.css">
        <style type="text/css">
           
        </style>
    </head>

  <div class="row" ui-view>
                <div class="hidden-xs hidden-sm col-md-4">
                    <div class="row ui-trav-day">
                        <strong>Traveller of the day</strong>
                    </div>
                </div>
 <div class="col-xs-12 col-md-8">
            <div class="row">
                <div>
                    <ul>
                      <li>
                        
                        <a href="#/itinerary" style="cursor:pointer"><input type="text" ng-model="proposals.places" disabled="disabled" style="border: 0; background-color:transparent; cursor:pointer;" /></a>
                      </li>
                    </ul>

                </div>
            </div>
        </div>
   </div>
 </html>