I am inside itinerary controller
 <html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="content-type" content="text/html">
        <meta charset="utf-8">
        <title>BucketList - Whats on your list</title>
        
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/activity.css">
        <style type="text/css">
           
        </style>
    </head>

  <div class="row" ui-view>
                <div class="hidden-xs hidden-sm col-md-4">
                    <div class="row ui-trav-day">
                        <strong>Traveller of the day</strong>
                    </div>
                </div>
 <div class="col-xs-12 col-md-8">
            <div class="row">
                <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th><th>ITINERARY</th><th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td><td>Flight</td>
                <td><a href="#/editTravel">edit details</a></td>
              </tr>
              <tr>
                <td>2</td><td>Hotel</td>
                <td><a href="#editHotel">edit details</a></td>
              </tr>
              <tr>
                <td>3</td><td>Extras</td>
                <td><a href="#editExtra">edit details</a></td>
              </tr>
            </tbody>
          </table>
            </div>
        </div>
   </div>
 </html>