<!-- activity list -->
            ACIVITY
            <div class="hidden-xs hidden-sm col-md-4">
            <div class="row">
                Traveller of the day
            </div>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
                <div>
                    <ul>
                      <li ng-repeat="x in $scope.proposals">
                        {{ x.display + ', ' + x.action + ' , ' + x.places }}
                      </li>
                    </ul>

                </div>
            </div>
        </div>
             <!--end of activity-->