 <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="search" id="search" placeholder="search">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
                <div>
                    <ul>
                      <li>
                        {{ $scope.proposals.display + ', ' + $scope.proposals.action + ' , ' + $scope.proposals.places }}
                        <a href="#/activity" style="cursor:pointer"><input type="text" ng-model="proposals.display" disabled="disabled" style="border: 0; background-color:transparent; cursor:pointer;" /></a>
                      </li>
                    </ul>

                </div>
            </div>
        </div>